<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<h1>Hello World.</h1>
<div id="future"></div>
<form id="form" id="chat_form">
    <input id="chat_input" type="text">
    <input type="submit" value="Send">
</form>

<div id='heartbeat'>
	hearbeat
</div>

Speech:
<div id="speech"></div>

Image:
<div id="image"></div>


<script>  
 var socket = io();
 socket.on('connect', function(data) {
    socket.emit('join', 'Hello World from client');
 });
 socket.on('broad', function(data) {
         $('#future').html(data);
 });

 $('form').submit(function(e){
     e.preventDefault();
     var message = $('#chat_input').val();
     socket.emit('messages', message);
 });

 socket.on('heartbeat', function(data){
 	$('#heartbeat').html(JSON.stringify(data));
 });

 socket.on('speech', function(data){
 	console.log('Got Speech:' + data);
 	$('#speech').append(JSON.stringify(data));
 });

</script>


</body>
</html>
