<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<h1>Hello World.</h1>
<div id="future"></div>
<form id="form" id="chat_form">
    <input id="chat_input" type="text">
    <input type="submit" value="Send">
</form>

<div id='heartbeat'>
	hearbeat
</div>

Speech: <br />
<div id="speech"></div>

Photo: <br />
<div id="photo"></div>

Alchemy: <br />
<div class="alchemy">
	<div id="concepts" class="info">
	    
	    	<ul>
	    		<% alchemy.concepts.forEach(function(concept){ %>
	    		<li><%= concept.text %></li>
	   			 <% }); %>
	    	</ul>
		
	</div>
</div>

Alchemy2: <br />
<div id="alchemy">waiting for data</div>


<script>  

 $(document).ready(function(){

 console.log("jquery success loaded");


 var socket = io();
 socket.on('connect', function(data) {
    socket.emit('join', 'Hello World from client');
 });
 socket.on('broad', function(data) {
         $('#future').html(data);
 });

 $('form').submit(function(e){
     e.preventDefault();
     var message = $('#chat_input').val();
     socket.emit('messages', message);
 });

 socket.on('heartbeat', function(data){
 	$('#heartbeat').html(JSON.stringify(data));
 });

 socket.on('speech', function(data){

 	console.log('speech:' + data);

 	if(data == undefined || data.results == undefined || data.results[0] == null) {
 		console.log("speech no transcript, returning");
 		return;
 	};
 	
 	var transcript = data.results[0].alternatives[0].transcript;
 	/** sample data
 	{"results":[{"alternatives":[{"transcript":"without the details "}],"final":true}],"result_index":0}{"results":[],"result_index":0}{"results":[{"alternatives":[{"transcript":"okay so "}],"final":true}],"result_index":0}
	**/
 	console.log('Got Speech:' + transcript);
 	$('#speech').append(transcript);
 });

 socket.on('alchemy', function(data){
 	console.log('got alchemy:' + JSON.stringify(data));
 	var alchemy = data;
 	alchemy.concepts.forEach(function(concept){
 		$('#alchemy').append("<br />");
 		$('#alchemy').append(concept.text);

 		// $.getJSON(flicker_domain + '/services/feeds/photos_public.gne?tags="' + query + '"&api_key=api_key=8f33addfb983de751848d3ee7abbf52e&tagmode=any&format=json', function(data){

 		// 	console.log("flickerdata:" + JSON.stringify(data));	
 		// });

 		$.get('/v1/photosearch/cat', function(data){

 		});

 	});

 });

 socket.on('photo', function(data){
 	
 	var jsonstring = data;
 	console.log('got photosaaaaa:' + jsonstring);
 	console.log('end===========');

 	jsonstring = jsonstring.replace(/\\'/g, "");


 	var json = JSON.parse(jsonstring);
 	json.items.forEach(function(photo){
 		 
 		 console.log(JSON.stringify(photo.media.m));
 		 //photo = JSON.parse(photo);
 		 var imageUrl = photo.media.m;

 		 $('#photo').prepend('<img src="' + photo.media.m + '"></img>');
 	});

 	//$('#photo').prepend(JSON.stringify(data));


 });


});

</script>


</body>
</html>
