<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<h1>Hello World.</h1>
<div id="future"></div>
<form id="form" id="chat_form">
    <input id="chat_input" type="text">
    <input type="submit" value="Send">
</form>

<div id='heartbeat'>
	hearbeat
</div>

Speech:
<div id="speech"></div>

Image:
<div id="image"></div>


<div class="alchemy">
	<div id="concepts" class="info">
	    
	    	<ul>
	    		<% alchemy.concepts.forEach(function(concept){ %>
	    		<li><%= concept.text %></li>
	   			 <% }); %>
	    	</ul>
		
	</div>
</div>

<script>  
 var socket = io();
 socket.on('connect', function(data) {
    socket.emit('join', 'Hello World from client');
 });
 socket.on('broad', function(data) {
         $('#future').html(data);
 });

 $('form').submit(function(e){
     e.preventDefault();
     var message = $('#chat_input').val();
     socket.emit('messages', message);
 });

 socket.on('heartbeat', function(data){
 	$('#heartbeat').html(JSON.stringify(data));
 });

 socket.on('speech', function(data){

 	console.log('speech:' + data);

 	if(data == undefined || data.results == undefined || data.results[0] == null) {
 		console.log("speech no transcript, returning");
 		return;
 	};
 	
 	var transcript = data.results[0].alternatives[0].transcript;
 	/** sample data
 	{"results":[{"alternatives":[{"transcript":"without the details "}],"final":true}],"result_index":0}{"results":[],"result_index":0}{"results":[{"alternatives":[{"transcript":"okay so "}],"final":true}],"result_index":0}
	**/
 	console.log('Got Speech:' + transcript);
 	$('#speech').append(transcript);
 });

 socket.on('alchemy', function(data){
 	console.log('alchemy:' + data);
 });

</script>


</body>
</html>
